{% extends "SamyeEvtBundle:Evt:voirCal.html.twig" %}
 
{% block right %}

	<h2>Ajouter un événement  à {{user.username}}</h2>

	<form method="post" {{ form_enctype(form) }}>
	
	<div>
		<div class="columnTwentyFivePercent">{{ form_label(form.libelle,"Nom de l'événement") }}</div>
		{{ form_errors(form.libelle) }}
		<div class="columnTwentyFivePercent">{{ form_widget(form.libelle) }}</div>
	</div>
	<div class="clear"></div>
	<div>
		<div class="columnTwentyFivePercent">{{ form_label(form.dateDeb,"Date de l'événement") }}</div>
		{{ form_errors(form.dateDeb) }}
		<div class="columnTwentyFivePercent">{{ form_widget(form.dateDeb) }}</div>
	</div>
	<div class="clear"></div>
	<div id="samye_evtbundle_hours">
		<div class="columnTwentyFivePercent">{{ form_label(form.heureDeb,"Début") }}</div>
		{{ form_errors(form.heureDeb) }}
		<div class="columnTwentyFivePercent">{{ form_widget(form.heureDeb) }}</div>
	</div>
	<div class="clear"></div>
	<div id="samye_evtbundle_hours">
		<div class="columnTwentyFivePercent">{{ form_label(form.heureFin,"Fin") }}</div>
		{{ form_errors(form.heureFin) }}
		<div class="columnTwentyFivePercent">{{ form_widget(form.heureFin) }}</div>
	</div>
	<div class="clear"></div>
	<div id="samye_evtbundle_location">
		<div class="columnTwentyFivePercent">{{ form_label(form.lieu,"Lieu") }}</div>
		{{ form_errors(form.lieu) }}
		<div class="columnTwentyFivePercent">{{ form_widget(form.lieu) }}</div>
	</div>
	<div class="clear"></div>
	<div id="samye_evtbundle_category">
		<div class="columnTwentyFivePercent">{{ form_label(form.category,"Catégorie") }}</div>
		{{ form_errors(form.category) }}
		<div class="columnTwentyFivePercent">{{ form_widget(form.category) }}</div>
	</div>
	<div class="clear"></div>
	
		{{ form_rest(form) }}
		<input type="submit" class="btn btn-primary" />
	</form>
 
{% endblock %}