{% extends "SamyeEvtBundle::layout.html.twig" %}
 
{% block title %}
  Evénements - {{ parent() }}
{% endblock %}
 
{% block body %}

	<h2>Ajouter un événément à {{user.username}}</h2>

	<form method="post" {{ form_enctype(form) }}>
	
	<div>
		{{ form_label(form.libelle,"Nom de l'événement") }}
		{{ form_errors(form.libelle) }}
		{{ form_widget(form.libelle) }}
	</div>
	<div>
		{{ form_label(form.dateDeb,"Date de l'événement") }}
		{{ form_errors(form.dateDeb) }}
		{{ form_widget(form.dateDeb) }}
	</div>
	<div>
		{{ form_label(form.duree,"Durée de l'événement") }}
		{{ form_errors(form.duree) }}
		{{ form_widget(form.duree) }}
	</div>
	<div id="samye_evtbundle_hours">
		{{ form_label(form.heureDeb,"Début") }}
		{{ form_errors(form.heureDeb) }}
		{{ form_widget(form.heureDeb) }}
	</div>
	<div id="samye_evtbundle_hours">
		{{ form_label(form.heureFin,"Fin") }}
		{{ form_errors(form.heureFin) }}
		{{ form_widget(form.heureFin) }}
	</div>
	<div id="samye_evtbundle_location">
		{{ form_label(form.lieu,"Lieu") }}
		{{ form_errors(form.lieu) }}
		{{ form_widget(form.lieu) }}
	</div>
	<div id="samye_evtbundle_category">
		{{ form_label(form.category,"Catégorie") }}
		{{ form_errors(form.category) }}
		{{ form_widget(form.category) }}
	</div>
	
	
		{{ form_rest(form) }}
		<input type="submit" class="btn btn-primary" />
	</form>
 
{% endblock %}