{% extends "SamyeEvtBundle:Evt:voirCal.html.twig" %}
 
{% block right %}

	<h2>Modifier l'événément {{event.libelle}}</h2>
		
		<div id="buttonSet">
			<a id="button" href="{{ path('samye_add_event') }}">Ajouter événément</a>
			<a id="button" href="{{ path('samye_evt') }}">Evénements publics</a>
			<a id="button" href="{{ path('samye_pers_evt') }}">Mes événements</a>
		</div>
		<div style="clear:both"></div>

	<form method="post" {{ form_enctype(form) }}>
	
	<div class="formAlign">
	<div class="row">
		<div class="columnFiftyPercent">{{ form_label(form.libelle,"Nom de l'événement") }}</div>
		{{ form_errors(form.libelle) }}
		<div class="columnFiftyPercent">{{ form_widget(form.libelle) }}</div>
	</div>
	<div class="clear"></div>
	<div class="row">
		<div class="columnFiftyPercent">{{ form_label(form.dateDeb,"Date de l'événement") }}</div>
		{{ form_errors(form.dateDeb) }}
		<div class="columnFiftyPercent">{{ form_widget(form.dateDeb) }}</div>
	</div>
	<div class="clear"></div>
	<div id="samye_evtbundle_hours" class="row">
		<div class="columnFiftyPercent">{{ form_label(form.heureDeb,"Début") }}</div>
		{{ form_errors(form.heureDeb) }}
		<div class="columnFiftyPercent">{{ form_widget(form.heureDeb) }}</div>
	</div>
	<div class="clear"></div>
	<div id="samye_evtbundle_hours" class="row">
		<div class="columnFiftyPercent">{{ form_label(form.heureFin,"Fin") }}</div>
		{{ form_errors(form.heureFin) }}
		<div class="columnFiftyPercent">{{ form_widget(form.heureFin) }}</div>
	</div>
	<div class="clear"></div>
	<div id="samye_evtbundle_location" class="row">
		<div class="columnFiftyPercent">{{ form_label(form.lieu,"Lieu") }}</div>
		{{ form_errors(form.lieu) }}
		<div class="columnFiftyPercent">{{ form_widget(form.lieu) }}</div>
	</div>
	<div class="clear"></div>
	<div id="samye_evtbundle_category" class="row">
		<div class="columnFiftyPercent">{{ form_label(form.category,"Catégorie") }}</div>
		{{ form_errors(form.category) }}
		<div class="columnFiftyPercent">{{ form_widget(form.category) }}</div>
	</div>
	<div class="clear"></div>
	<div id="samye_evtbundle_status" class="row">
		<div class="columnFiftyPercent">{{ form_label(form.status,"Statut") }}</div>
		{{ form_errors(form.status) }}
		<div class="columnFiftyPercent">{{ form_widget(form.status) }}</div>
	</div>
	<div class="clear"></div>
	<div id="samye_evtbundle_participation" class="row">
		<div class="columnFiftyPercent">{{ form_label(form.participation,"Participation") }}</div>
		{{ form_errors(form.participation) }}
		<div class="columnFiftyPercent">{{ form_widget(form.participation) }}</div>
	</div>
	<div class="clear"></div>
	<div id="samye_evtbundle_description" class="row">
		<div class="columnFiftyPercent">{{ form_label(form.description,"Description") }}</div>
		{{ form_errors(form.description) }}
		<div class="columnFiftyPercent">{{ form_widget(form.description) }}</div>
	</div>
	<div class="clear"></div>
	
		{{ form_rest(form) }}
	<div class="row">
		<input type="submit" class="btn btn-primary" />
	</div>
	</form>
 
{% endblock %}