{# app/Resources/views/layout.html.twig #}
<!DOCTYPE html>
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Share and Manage Your Events{% endblock %}</title>

		{% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" />		
		<link rel="stylesheet" href="{{ asset('js/fullcalendar/fullcalendar.css') }}" type="text/css" />
		
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,700,900,300' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400,300,700' rel='stylesheet' type='text/css'>
		{% endblock %}
    </head>
    <body>
		<div id="header">
			<div id="headerContent">
				<a href="{{ path('samye_index') }}"><img src="{{ asset('img/logo2.png') }}" alt="" /></a>
				<ul id="menu">
					{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
						<li><a href="">{{ app.user.username }}</a>
							<ul>
								<li><a href="{{ path('fos_user_profile_show') }}">Profil</a></li>
								<li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
							</ul>
						</li>
						<li><a href="{{ path('samye_voir_evt_cal') }}">Calendrier</a></li>
						<li><a href="{{ path('samye_categories') }}">Catégories</a>
						<ul>
							<li><a href="{{ path('samye_categories') }}">Liste des catégories</a></li>
							<li><a href="{{ path('samye_add_category') }}">Créer une catégorie</a></li>
						</ul>
						<li><a href="{{ path('samye_evt') }}">Evénements</a>
						<ul>
							<li><a href="{{ path('samye_add_event') }}">Liste des événements</a></li>
							<li><a href="{{ path('samye_add_event') }}">Créer un événement</a></li>
						</ul>
					</li>
					{% endif %}

				</ul>
				

			</div>
		</div>
		<div id="nav">
		</div>
		<div id	="row">
			<div id="content" class="span9">
				{% block body %}
				{% endblock %}
			</div>
		</div>

		<div id="footer">
		</div>
    
		{% block javascripts %}
			{# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
			<script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>			
			<script type="text/javascript" src="{{ asset('js/scripts.js') }}"></script>
			<script type="text/javascript" src="{{ asset('js/fullcalendar/fullcalendar.min.js') }}"></script>
			{% block jsCal %}
			{% endblock %}
		{% endblock %}
	</body>
</html>