{% extends "SamyeEvtBundle::layout.html.twig" %}
 
{% block title %}
  Catégories - {{ parent() }}
{% endblock %}
 
{% block body %}

	<h2>Ajouter une catégorie</h2>

	<form method="post" {{ form_enctype(form) }}>
	
	<div>
		{{ form_label(form.libelle,"Nom de la catégorie") }}
		{{ form_errors(form.libelle) }}
		{{ form_widget(form.libelle) }}
	</div>	
		{{ form_rest(form) }}
		<input type="submit" class="btn btn-primary" />
	</form>
 
{% endblock %}