{% extends "SamyeEvtBundle:Categories:categories.html.twig" %}
 
{% block title %}
  {{ parent() }}
{% endblock %}
 
{% block right %}

	<h2>Ajouter une catégorie</h2>

	<form method="post" {{ form_enctype(form) }}>
		<div class="formAlign">
			<div class="row">
				<div class="columnFiftyPercent">{{ form_label(form.libelle,"Nom de la catégorie") }}</div>
				{{ form_errors(form.libelle) }}
				<div class="columnFiftyPercent">{{ form_widget(form.libelle) }}</div>
			</div>
			<div class="clear"></div>	
				{{ form_rest(form) }}
			<div class="row">
				<input type="submit" class="btn btn-primary" />
			</div>
		</div>
	</form>
 
{% endblock %}