{% extends "SamyeEvtBundle::layout.html.twig" %}
 
{% block title %}
  Catégorie - {{ parent() }}
{% endblock %}
 
{% block body %}


	<div id="contentLeft" class="category">
		<h2>Liste des catégories</h2>
		<!--<table class="events">
			<th>Catégorie</th><th></th>
			{% for category in categories %}
			<tr>
				
				<td>{{ category.libelle }}</td>
	
				<td class="iconsCell">
					<a href="{{ path('samye_modify_category',{'id':category.id}) }}"><img class="icons" src="{{ asset('img/pen.png') }}"  width="32px" height="32px"/></a>
					<a href="{{ path('samye_delete_category',{'id':category.id}) }}"><img class="icons" src="{{ asset('img/bin.png') }}"  width="32px" height="32px"/></a>
				</td>
					
			</tr>
			{% endfor %}
		</table>-->	
		<div id="list">
			{% for category in categories %}
			<div class="contentRow">
				<div class="columnFiftyPercent">{{ category.libelle }}</div>
				<div class="columnFifteenPercent"><a href="{{ path('samye_modify_category',{'id':category.id}) }}"><img class="icons" src="{{ asset('img/pen.png') }}"  width="32px" height="32px"/></a></div>
				<div class="columnFifteenPercent"><a href="{{ path('samye_delete_category',{'id':category.id}) }}"><img class="icons" src="{{ asset('img/bin.png') }}"  width="32px" height="32px"/></a></div>
			</div>
			<div class="clear"></div>
			{% endfor %}		
		</div>
	</div>
	<div id="contentRight">	
		{% block right %}
		{% endblock %}
	</div>	
{% endblock %}